page-home {

}
#logo{
  max-width: 40%!important;
}

.col{
  padding: 0!important;
}

#refresh{
  float:right;
}

#colname{
  text-transform: uppercase;
  color: #466581;
  margin: 13px 0 0 10px;
  display: block;
}

span.label{
  text-transform: uppercase!important;
  font-size: .7em;
  color: #327eb1!important;
  display: block;
}

span.answer{
  font-size: .7em;
}

.end{
  text-align: right;
}

.list-md ion-item-options .button{
  height: 45px;
  background-color: #19232c!important;
}

.list-md ion-item-options{
  border-bottom: 0;
}

.size{
  font-size: 28px;
  padding: 10px;
}


